.HeaderNav{
    background-color: orangered;
    height: 3em;
    display: flex;
    gap: 1em;
    position:fixed;
    justify-content: space-evenly;
    align-items: center;
    
    .links{
        text-decoration: none;
        color: var(--white);
    }


}



